.Body {
  display: flex;
  flex-direction: column;
  padding: 0rem 2% 30rem 2%;
  margin-left: 12rem;
  width: 100%;
}

@media only screen and (max-width: 50rem) {
  .Body {
    margin-left: 4rem;
  }
}