.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: flex-start;
  gap: 1rem;
}

.image-grid-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  overflow: hidden;
  transition: all 0.15s;
  aspect-ratio: 16 / 9;
  background: none;
  border: none;
  cursor: pointer;
}

.image-grid-image-container:hover {
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.image-grid-image {
  width: 100%;
}

.image-display-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  border: none;
  z-index: 200;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.image-display {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  height: fit-content;
  overflow: hidden;
}

.image-display img {
  width: 100%;
}