.Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    min-height: 4rem;
}

.Navbar .nav-element {
    text-decoration: none;
    color: green;
}