.Page {
  display: flex;
  flex-direction: column;
  color: rgb(139, 158, 176);
  font-size: 1rem;
  transition: all 0.15s;
  width: 100%;
}

.Page .title {
  color: rgb(209, 230, 248);
  font-weight: 400;
  font-size: 4rem;
  line-height: 85%;
  padding: 0rem 0rem 1rem 0rem;
  margin: -0.2rem 0rem 0rem 0rem;
}

.Page .date {
  color: rgb(80, 92, 107);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0rem 0rem 2rem 0rem;
}

.Page img {
  width: 100%;
  border-radius: 0.15rem;
}

.Page p {
  margin: 0.5rem 0rem;
}