.page {
  display: flex;
  flex-direction: row;
  color: rgb(139, 158, 176);
  font-size: 1rem;
  gap: 5rem;
  transition: all 0.15s;
  width: 80%;
}

.page .title {
  color: rgb(209, 230, 248);
  font-weight: 400;
  font-size: 4rem;
  line-height: 80%;
  padding: 0rem 0rem 1rem 0rem;
  margin: -0.2rem 0rem 0rem 0rem;
}

.page .date {
  color: rgb(80, 92, 107);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0rem 0rem 2rem 0rem;
}

.page img {
  width: 100%;
  border-radius: 0.15rem;
}