.Sidebar {
  display: flex;
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgb(29, 36, 51);
  z-index: 100;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 12rem;
  box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.2);
  transition: all 0.15s;
}

.Sidebar .icon {
  margin: 3rem 2rem 0rem 2rem;
  width: 50%;
  border-radius: 50%;
  transition: all 0.15s;
}

.Sidebar .name {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 50rem) {
  .Sidebar,
  .sidebar-block {
    width: 4rem;
  }

  .Sidebar .icon {
    margin: 1rem;
  }

  .Sidebar .name {
    font-size: 0.7rem;
    margin: 0rem 0rem;
  }
}

