.SingleImage {
  width: 100%;
  position: relative;
}

.SingleImage .caption {
  position: absolute;
  color: rgb(209, 230, 248);
  background-color: rgb(19, 24, 34);
  font-size: 0.8rem;
  padding: 0.57rem 0.5rem 0.7rem 0.7rem;
  max-width: 60%;
  opacity: 0;
  transition: 0.4s;
  border-radius: 0.12rem;
}

.SingleImage:hover .caption  {
  opacity: 0.8;
  cursor: default;
}